<a href="https://colab.research.google.com/github/mknomics/teaching/blob/main/AlphaAdvantageAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pulling Stock Data from AlphaAdvantage API

## Preliminaries
**Option 1:**


1.   Check WolfDen for a document that has your name and API key.  This is a special key that is better than the free key that you can get from the site.
2.   Make a record of your API key and keep it private for your own use. 

**Option 2:** 


1. [Register for a free API key](https://www.alphavantage.co/support/#api-key) with Alpha Advantage
2. Use your Newberry.edu email for registration
3. Record your key in a safe place

## Read the API Documentation
[Link to API Doccumentation](https://www.alphavantage.co/documentation/)

Alpha Vantage APIs are grouped into five categories: 
1. Time Series Stock APIs
2. Fundamental Data, 
3. Physical and Digital/Crypto Currencies (e.g., Bitcoin), 
4. Economic Indicators, and 
5. Technical Indicators. 

This API uses http protocol, so we structure our queries in what looks like an internet (http) address.  The address is structured using API Parameters according to the syntax in the documentation.  Some parameters are required and others are optional.  

The left menu of the [Documentation](https://www.alphavantage.co/documentation/) shows all of the API Data types that are available at Alpha Advantage.  We will start by extracting Weekly Adjusted Stock data.

### TIME_SERIES_WEEKLY Documentation
Find Weekly Adjusted Stock data in the menu of the Documentation and follow along. 

This API returns weekly time series (last trading day of each week, weekly open, weekly high, weekly low, weekly close, weekly volume) of the global equity specified, covering 20+ years of historical data.


API Parameters
❚ Required: function

The time series of your choice. In this case, function=TIME_SERIES_WEEKLY

❚ Required: symbol

The name of the equity of your choice. For example: symbol=IBM

❚ Optional: datatype

By default, datatype=json. Strings json and csv are accepted with the following specifications: json returns the weekly time series in JSON format; csv returns the time series as a CSV (comma separated value) file.

#### NOTE: Requests is a Python library that allows you to programically send http requests to servers.  This is how we will interact with the Alpha Advantage API.  This library is pre-installed on Google Colab so all we need to do is import it.  No need for "pip install"

In [1]:
import requests 
import pandas as pd
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=IBM&apikey=demo' # define URL
# NOTE structure of url - see note below if not clear


####STRUCTURE OF "URL":
Based on the syntax, the url begins with:
* https://www.alphavantage.co/query?

Next we set the function parameter = "TIME_SERIES_WEEKLY"
* function=TIME_SERIES_WEEKLY

Parameters in the URL are separated by "&"

Next we set the stock symbol parameter = "IBM"
* symbol=IBM

Finally we set our API key = your_key
* apikey=your_key

#### With our URL formed, we can now use the "get" method of the "requests" library to define an object that we call "r".  We could give it any name here, "r" is just what is in the documentation.

In [2]:
 r = requests.get(url)
data = r.json()
#print(data)

In [3]:
# NOTE: The output is a dictionary data type and we want to convert this to a Pandas DataFrame 
type(data)

dict

In [4]:
# First Find out the keys of the dictionary
data.keys()

dict_keys(['Meta Data', 'Weekly Time Series'])

In [5]:
# What is the datatype of the 'Weekly Time Series'?
type(data['Weekly Time Series'])

dict

In [6]:
# What are the keys of the 'Weekly Time Series'?
data['Weekly Time Series'].keys()

dict_keys(['2022-02-18', '2022-02-11', '2022-02-04', '2022-01-28', '2022-01-21', '2022-01-14', '2022-01-07', '2021-12-31', '2021-12-23', '2021-12-17', '2021-12-10', '2021-12-03', '2021-11-26', '2021-11-19', '2021-11-12', '2021-11-05', '2021-10-29', '2021-10-22', '2021-10-15', '2021-10-08', '2021-10-01', '2021-09-24', '2021-09-17', '2021-09-10', '2021-09-03', '2021-08-27', '2021-08-20', '2021-08-13', '2021-08-06', '2021-07-30', '2021-07-23', '2021-07-16', '2021-07-09', '2021-07-02', '2021-06-25', '2021-06-18', '2021-06-11', '2021-06-04', '2021-05-28', '2021-05-21', '2021-05-14', '2021-05-07', '2021-04-30', '2021-04-23', '2021-04-16', '2021-04-09', '2021-04-01', '2021-03-26', '2021-03-19', '2021-03-12', '2021-03-05', '2021-02-26', '2021-02-19', '2021-02-12', '2021-02-05', '2021-01-29', '2021-01-22', '2021-01-15', '2021-01-08', '2020-12-31', '2020-12-24', '2020-12-18', '2020-12-11', '2020-12-04', '2020-11-27', '2020-11-20', '2020-11-13', '2020-11-06', '2020-10-30', '2020-10-23', '2020-10-16', '2020-10-09', '2020-10-02', '2020-09-25', '2020-09-18', '2020-09-11', '2020-09-04', '2020-08-28', '2020-08-21', '2020-08-14', '2020-08-07', '2020-07-31', '2020-07-24', '2020-07-17', '2020-07-10', '2020-07-02', '2020-06-26', '2020-06-19', '2020-06-12', '2020-06-05', '2020-05-29', '2020-05-22', '2020-05-15', '2020-05-08', '2020-05-01', '2020-04-24', '2020-04-17', '2020-04-09', '2020-04-03', '2020-03-27', '2020-03-20', '2020-03-13', '2020-03-06', '2020-02-28', '2020-02-21', '2020-02-14', '2020-02-07', '2020-01-31', '2020-01-24', '2020-01-17', '2020-01-10', '2020-01-03', '2019-12-27', '2019-12-20', '2019-12-13', '2019-12-06', '2019-11-29', '2019-11-22', '2019-11-15', '2019-11-08', '2019-11-01', '2019-10-25', '2019-10-18', '2019-10-11', '2019-10-04', '2019-09-27', '2019-09-20', '2019-09-13', '2019-09-06', '2019-08-30', '2019-08-23', '2019-08-16', '2019-08-09', '2019-08-02', '2019-07-26', '2019-07-19', '2019-07-12', '2019-07-05', '2019-06-28', '2019-06-21', '2019-06-14', '2019-06-07', '2019-05-31', '2019-05-24', '2019-05-17', '2019-05-10', '2019-05-03', '2019-04-26', '2019-04-18', '2019-04-12', '2019-04-05', '2019-03-29', '2019-03-22', '2019-03-15', '2019-03-08', '2019-03-01', '2019-02-22', '2019-02-15', '2019-02-08', '2019-02-01', '2019-01-25', '2019-01-18', '2019-01-11', '2019-01-04', '2018-12-28', '2018-12-21', '2018-12-14', '2018-12-07', '2018-11-30', '2018-11-23', '2018-11-16', '2018-11-09', '2018-11-02', '2018-10-26', '2018-10-19', '2018-10-12', '2018-10-05', '2018-09-28', '2018-09-21', '2018-09-14', '2018-09-07', '2018-08-31', '2018-08-24', '2018-08-17', '2018-08-10', '2018-08-03', '2018-07-27', '2018-07-20', '2018-07-13', '2018-07-06', '2018-06-29', '2018-06-22', '2018-06-15', '2018-06-08', '2018-06-01', '2018-05-25', '2018-05-18', '2018-05-11', '2018-05-04', '2018-04-27', '2018-04-20', '2018-04-13', '2018-04-06', '2018-03-29', '2018-03-23', '2018-03-16', '2018-03-09', '2018-03-02', '2018-02-23', '2018-02-16', '2018-02-09', '2018-02-02', '2018-01-26', '2018-01-19', '2018-01-12', '2018-01-05', '2017-12-29', '2017-12-22', '2017-12-15', '2017-12-08', '2017-12-01', '2017-11-24', '2017-11-17', '2017-11-10', '2017-11-03', '2017-10-27', '2017-10-20', '2017-10-13', '2017-10-06', '2017-09-29', '2017-09-22', '2017-09-15', '2017-09-08', '2017-09-01', '2017-08-25', '2017-08-18', '2017-08-11', '2017-08-04', '2017-07-28', '2017-07-21', '2017-07-14', '2017-07-07', '2017-06-30', '2017-06-23', '2017-06-16', '2017-06-09', '2017-06-02', '2017-05-26', '2017-05-19', '2017-05-12', '2017-05-05', '2017-04-28', '2017-04-21', '2017-04-13', '2017-04-07', '2017-03-31', '2017-03-24', '2017-03-17', '2017-03-10', '2017-03-03', '2017-02-24', '2017-02-17', '2017-02-10', '2017-02-03', '2017-01-27', '2017-01-20', '2017-01-13', '2017-01-06', '2016-12-30', '2016-12-23', '2016-12-16', '2016-12-09', '2016-12-02', '2016-11-25', '2016-11-18', '2016-11-11', '2016-11-04', '2016-10-28', '2016-10-21', '2016-10-14', '2016-10-07', '2016-09-30', '2016-09-23', '2016-09-16', '2016-09-09', '2016-09-02', '2016-08-26', '2016-08-19', '2016-08-12', '2016-08-05', '2016-07-29', '2016-07-22', '2016-07-15', '2016-07-08', '2016-07-01', '2016-06-24', '2016-06-17', '2016-06-10', '2016-06-03', '2016-05-27', '2016-05-20', '2016-05-13', '2016-05-06', '2016-04-29', '2016-04-22', '2016-04-15', '2016-04-08', '2016-04-01', '2016-03-24', '2016-03-18', '2016-03-11', '2016-03-04', '2016-02-26', '2016-02-19', '2016-02-12', '2016-02-05', '2016-01-29', '2016-01-22', '2016-01-15', '2016-01-08', '2015-12-31', '2015-12-24', '2015-12-18', '2015-12-11', '2015-12-04', '2015-11-27', '2015-11-20', '2015-11-13', '2015-11-06', '2015-10-30', '2015-10-23', '2015-10-16', '2015-10-09', '2015-10-02', '2015-09-25', '2015-09-18', '2015-09-11', '2015-09-04', '2015-08-28', '2015-08-21', '2015-08-14', '2015-08-07', '2015-07-31', '2015-07-24', '2015-07-17', '2015-07-10', '2015-07-02', '2015-06-26', '2015-06-19', '2015-06-12', '2015-06-05', '2015-05-29', '2015-05-22', '2015-05-15', '2015-05-08', '2015-05-01', '2015-04-24', '2015-04-17', '2015-04-10', '2015-04-02', '2015-03-27', '2015-03-20', '2015-03-13', '2015-03-06', '2015-02-27', '2015-02-20', '2015-02-13', '2015-02-06', '2015-01-30', '2015-01-23', '2015-01-16', '2015-01-09', '2015-01-02', '2014-12-26', '2014-12-19', '2014-12-12', '2014-12-05', '2014-11-28', '2014-11-21', '2014-11-14', '2014-11-07', '2014-10-31', '2014-10-24', '2014-10-17', '2014-10-10', '2014-10-03', '2014-09-26', '2014-09-19', '2014-09-12', '2014-09-05', '2014-08-29', '2014-08-22', '2014-08-15', '2014-08-08', '2014-08-01', '2014-07-25', '2014-07-18', '2014-07-11', '2014-07-03', '2014-06-27', '2014-06-20', '2014-06-13', '2014-06-06', '2014-05-30', '2014-05-23', '2014-05-16', '2014-05-09', '2014-05-02', '2014-04-25', '2014-04-17', '2014-04-11', '2014-04-04', '2014-03-28', '2014-03-21', '2014-03-14', '2014-03-07', '2014-02-28', '2014-02-21', '2014-02-14', '2014-02-07', '2014-01-31', '2014-01-24', '2014-01-17', '2014-01-10', '2014-01-03', '2013-12-27', '2013-12-20', '2013-12-13', '2013-12-06', '2013-11-29', '2013-11-22', '2013-11-15', '2013-11-08', '2013-11-01', '2013-10-25', '2013-10-18', '2013-10-11', '2013-10-04', '2013-09-27', '2013-09-20', '2013-09-13', '2013-09-06', '2013-08-30', '2013-08-23', '2013-08-16', '2013-08-09', '2013-08-02', '2013-07-26', '2013-07-19', '2013-07-12', '2013-07-05', '2013-06-28', '2013-06-21', '2013-06-14', '2013-06-07', '2013-05-31', '2013-05-24', '2013-05-17', '2013-05-10', '2013-05-03', '2013-04-26', '2013-04-19', '2013-04-12', '2013-04-05', '2013-03-28', '2013-03-22', '2013-03-15', '2013-03-08', '2013-03-01', '2013-02-22', '2013-02-15', '2013-02-08', '2013-02-01', '2013-01-25', '2013-01-18', '2013-01-11', '2013-01-04', '2012-12-28', '2012-12-21', '2012-12-14', '2012-12-07', '2012-11-30', '2012-11-23', '2012-11-16', '2012-11-09', '2012-11-02', '2012-10-26', '2012-10-19', '2012-10-12', '2012-10-05', '2012-09-28', '2012-09-21', '2012-09-14', '2012-09-07', '2012-08-31', '2012-08-24', '2012-08-17', '2012-08-10', '2012-08-03', '2012-07-27', '2012-07-20', '2012-07-13', '2012-07-06', '2012-06-29', '2012-06-22', '2012-06-15', '2012-06-08', '2012-06-01', '2012-05-25', '2012-05-18', '2012-05-11', '2012-05-04', '2012-04-27', '2012-04-20', '2012-04-13', '2012-04-05', '2012-03-30', '2012-03-23', '2012-03-16', '2012-03-09', '2012-03-02', '2012-02-24', '2012-02-17', '2012-02-10', '2012-02-03', '2012-01-27', '2012-01-20', '2012-01-13', '2012-01-06', '2011-12-30', '2011-12-23', '2011-12-16', '2011-12-09', '2011-12-02', '2011-11-25', '2011-11-18', '2011-11-11', '2011-11-04', '2011-10-28', '2011-10-21', '2011-10-14', '2011-10-07', '2011-09-30', '2011-09-23', '2011-09-16', '2011-09-09', '2011-09-02', '2011-08-26', '2011-08-19', '2011-08-12', '2011-08-05', '2011-07-29', '2011-07-22', '2011-07-15', '2011-07-08', '2011-07-01', '2011-06-24', '2011-06-17', '2011-06-10', '2011-06-03', '2011-05-27', '2011-05-20', '2011-05-13', '2011-05-06', '2011-04-29', '2011-04-21', '2011-04-15', '2011-04-08', '2011-04-01', '2011-03-25', '2011-03-18', '2011-03-11', '2011-03-04', '2011-02-25', '2011-02-18', '2011-02-11', '2011-02-04', '2011-01-28', '2011-01-21', '2011-01-14', '2011-01-07', '2010-12-31', '2010-12-23', '2010-12-17', '2010-12-10', '2010-12-03', '2010-11-26', '2010-11-19', '2010-11-12', '2010-11-05', '2010-10-29', '2010-10-22', '2010-10-15', '2010-10-08', '2010-10-01', '2010-09-24', '2010-09-17', '2010-09-10', '2010-09-03', '2010-08-27', '2010-08-20', '2010-08-13', '2010-08-06', '2010-07-30', '2010-07-23', '2010-07-16', '2010-07-09', '2010-07-02', '2010-06-25', '2010-06-18', '2010-06-11', '2010-06-04', '2010-05-28', '2010-05-21', '2010-05-14', '2010-05-07', '2010-04-30', '2010-04-23', '2010-04-16', '2010-04-09', '2010-04-01', '2010-03-26', '2010-03-19', '2010-03-12', '2010-03-05', '2010-02-26', '2010-02-19', '2010-02-12', '2010-02-05', '2010-01-29', '2010-01-22', '2010-01-15', '2010-01-08', '2009-12-31', '2009-12-24', '2009-12-18', '2009-12-11', '2009-12-04', '2009-11-27', '2009-11-20', '2009-11-13', '2009-11-06', '2009-10-30', '2009-10-23', '2009-10-16', '2009-10-09', '2009-10-02', '2009-09-25', '2009-09-18', '2009-09-11', '2009-09-04', '2009-08-28', '2009-08-21', '2009-08-14', '2009-08-07', '2009-07-31', '2009-07-24', '2009-07-17', '2009-07-10', '2009-07-02', '2009-06-26', '2009-06-19', '2009-06-12', '2009-06-05', '2009-05-29', '2009-05-22', '2009-05-15', '2009-05-08', '2009-05-01', '2009-04-24', '2009-04-17', '2009-04-09', '2009-04-03', '2009-03-27', '2009-03-20', '2009-03-13', '2009-03-06', '2009-02-27', '2009-02-20', '2009-02-13', '2009-02-06', '2009-01-30', '2009-01-23', '2009-01-16', '2009-01-09', '2009-01-02', '2008-12-26', '2008-12-19', '2008-12-12', '2008-12-05', '2008-11-28', '2008-11-21', '2008-11-14', '2008-11-07', '2008-10-31', '2008-10-24', '2008-10-17', '2008-10-10', '2008-10-03', '2008-09-26', '2008-09-19', '2008-09-12', '2008-09-05', '2008-08-29', '2008-08-22', '2008-08-15', '2008-08-08', '2008-08-01', '2008-07-25', '2008-07-18', '2008-07-11', '2008-07-03', '2008-06-27', '2008-06-20', '2008-06-13', '2008-06-06', '2008-05-30', '2008-05-23', '2008-05-16', '2008-05-09', '2008-05-02', '2008-04-25', '2008-04-18', '2008-04-11', '2008-04-04', '2008-03-28', '2008-03-20', '2008-03-14', '2008-03-07', '2008-02-29', '2008-02-22', '2008-02-15', '2008-02-08', '2008-02-01', '2008-01-25', '2008-01-18', '2008-01-11', '2008-01-04', '2007-12-28', '2007-12-21', '2007-12-14', '2007-12-07', '2007-11-30', '2007-11-23', '2007-11-16', '2007-11-09', '2007-11-02', '2007-10-26', '2007-10-19', '2007-10-12', '2007-10-05', '2007-09-28', '2007-09-21', '2007-09-14', '2007-09-07', '2007-08-31', '2007-08-24', '2007-08-17', '2007-08-10', '2007-08-03', '2007-07-27', '2007-07-20', '2007-07-13', '2007-07-06', '2007-06-29', '2007-06-22', '2007-06-15', '2007-06-08', '2007-06-01', '2007-05-25', '2007-05-18', '2007-05-11', '2007-05-04', '2007-04-27', '2007-04-20', '2007-04-13', '2007-04-05', '2007-03-30', '2007-03-23', '2007-03-16', '2007-03-09', '2007-03-02', '2007-02-23', '2007-02-16', '2007-02-09', '2007-02-02', '2007-01-26', '2007-01-19', '2007-01-12', '2007-01-05', '2006-12-29', '2006-12-22', '2006-12-15', '2006-12-08', '2006-12-01', '2006-11-24', '2006-11-17', '2006-11-10', '2006-11-03', '2006-10-27', '2006-10-20', '2006-10-13', '2006-10-06', '2006-09-29', '2006-09-22', '2006-09-15', '2006-09-08', '2006-09-01', '2006-08-25', '2006-08-18', '2006-08-11', '2006-08-04', '2006-07-28', '2006-07-21', '2006-07-14', '2006-07-07', '2006-06-30', '2006-06-23', '2006-06-16', '2006-06-09', '2006-06-02', '2006-05-26', '2006-05-19', '2006-05-12', '2006-05-05', '2006-04-28', '2006-04-21', '2006-04-13', '2006-04-07', '2006-03-31', '2006-03-24', '2006-03-17', '2006-03-10', '2006-03-03', '2006-02-24', '2006-02-17', '2006-02-10', '2006-02-03', '2006-01-27', '2006-01-20', '2006-01-13', '2006-01-06', '2005-12-30', '2005-12-23', '2005-12-16', '2005-12-09', '2005-12-02', '2005-11-25', '2005-11-18', '2005-11-11', '2005-11-04', '2005-10-28', '2005-10-21', '2005-10-14', '2005-10-07', '2005-09-30', '2005-09-23', '2005-09-16', '2005-09-09', '2005-09-02', '2005-08-26', '2005-08-19', '2005-08-12', '2005-08-05', '2005-07-29', '2005-07-22', '2005-07-15', '2005-07-08', '2005-07-01', '2005-06-24', '2005-06-17', '2005-06-10', '2005-06-03', '2005-05-27', '2005-05-20', '2005-05-13', '2005-05-06', '2005-04-29', '2005-04-22', '2005-04-15', '2005-04-08', '2005-04-01', '2005-03-24', '2005-03-18', '2005-03-11', '2005-03-04', '2005-02-25', '2005-02-18', '2005-02-11', '2005-02-04', '2005-01-28', '2005-01-21', '2005-01-14', '2005-01-07', '2004-12-31', '2004-12-23', '2004-12-17', '2004-12-10', '2004-12-03', '2004-11-26', '2004-11-19', '2004-11-12', '2004-11-05', '2004-10-29', '2004-10-22', '2004-10-15', '2004-10-08', '2004-10-01', '2004-09-24', '2004-09-17', '2004-09-10', '2004-09-03', '2004-08-27', '2004-08-20', '2004-08-13', '2004-08-06', '2004-07-30', '2004-07-23', '2004-07-16', '2004-07-09', '2004-07-02', '2004-06-25', '2004-06-18', '2004-06-10', '2004-06-04', '2004-05-28', '2004-05-21', '2004-05-14', '2004-05-07', '2004-04-30', '2004-04-23', '2004-04-16', '2004-04-08', '2004-04-02', '2004-03-26', '2004-03-19', '2004-03-12', '2004-03-05', '2004-02-27', '2004-02-20', '2004-02-13', '2004-02-06', '2004-01-30', '2004-01-23', '2004-01-16', '2004-01-09', '2004-01-02', '2003-12-26', '2003-12-19', '2003-12-12', '2003-12-05', '2003-11-28', '2003-11-21', '2003-11-14', '2003-11-07', '2003-10-31', '2003-10-24', '2003-10-17', '2003-10-10', '2003-10-03', '2003-09-26', '2003-09-19', '2003-09-12', '2003-09-05', '2003-08-29', '2003-08-22', '2003-08-15', '2003-08-08', '2003-08-01', '2003-07-25', '2003-07-18', '2003-07-11', '2003-07-03', '2003-06-27', '2003-06-20', '2003-06-13', '2003-06-06', '2003-05-30', '2003-05-23', '2003-05-16', '2003-05-09', '2003-05-02', '2003-04-25', '2003-04-17', '2003-04-11', '2003-04-04', '2003-03-28', '2003-03-21', '2003-03-14', '2003-03-07', '2003-02-28', '2003-02-21', '2003-02-14', '2003-02-07', '2003-01-31', '2003-01-24', '2003-01-17', '2003-01-10', '2003-01-03', '2002-12-27', '2002-12-20', '2002-12-13', '2002-12-06', '2002-11-29', '2002-11-22', '2002-11-15', '2002-11-08', '2002-11-01', '2002-10-25', '2002-10-18', '2002-10-11', '2002-10-04', '2002-09-27', '2002-09-20', '2002-09-13', '2002-09-06', '2002-08-30', '2002-08-23', '2002-08-16', '2002-08-09', '2002-08-02', '2002-07-26', '2002-07-19', '2002-07-12', '2002-07-05', '2002-06-28', '2002-06-21', '2002-06-14', '2002-06-07', '2002-05-31', '2002-05-24', '2002-05-17', '2002-05-10', '2002-05-03', '2002-04-26', '2002-04-19', '2002-04-12', '2002-04-05', '2002-03-28', '2002-03-22', '2002-03-15', '2002-03-08', '2002-03-01', '2002-02-22', '2002-02-15', '2002-02-08', '2002-02-01', '2002-01-25', '2002-01-18', '2002-01-11', '2002-01-04', '2001-12-28', '2001-12-21', '2001-12-14', '2001-12-07', '2001-11-30', '2001-11-23', '2001-11-16', '2001-11-09', '2001-11-02', '2001-10-26', '2001-10-19', '2001-10-12', '2001-10-05', '2001-09-28', '2001-09-21', '2001-09-10', '2001-09-07', '2001-08-31', '2001-08-24', '2001-08-17', '2001-08-10', '2001-08-03', '2001-07-27', '2001-07-20', '2001-07-13', '2001-07-06', '2001-06-29', '2001-06-22', '2001-06-15', '2001-06-08', '2001-06-01', '2001-05-25', '2001-05-18', '2001-05-11', '2001-05-04', '2001-04-27', '2001-04-20', '2001-04-12', '2001-04-06', '2001-03-30', '2001-03-23', '2001-03-16', '2001-03-09', '2001-03-02', '2001-02-23', '2001-02-16', '2001-02-09', '2001-02-02', '2001-01-26', '2001-01-19', '2001-01-12', '2001-01-05', '2000-12-29', '2000-12-22', '2000-12-15', '2000-12-08', '2000-12-01', '2000-11-24', '2000-11-17', '2000-11-10', '2000-11-03', '2000-10-27', '2000-10-20', '2000-10-13', '2000-10-06', '2000-09-29', '2000-09-22', '2000-09-15', '2000-09-08', '2000-09-01', '2000-08-25', '2000-08-18', '2000-08-11', '2000-08-04', '2000-07-28', '2000-07-21', '2000-07-14', '2000-07-07', '2000-06-30', '2000-06-23', '2000-06-16', '2000-06-09', '2000-06-02', '2000-05-26', '2000-05-19', '2000-05-12', '2000-05-05', '2000-04-28', '2000-04-20', '2000-04-14', '2000-04-07', '2000-03-31', '2000-03-24', '2000-03-17', '2000-03-10', '2000-03-03', '2000-02-25', '2000-02-18', '2000-02-11', '2000-02-04', '2000-01-28', '2000-01-21', '2000-01-14', '2000-01-07', '1999-12-31', '1999-12-23', '1999-12-17', '1999-12-10', '1999-12-03', '1999-11-26', '1999-11-19', '1999-11-12'])

In [7]:
# How would I find the data for a given date?...Say 2022-01-14 ?
data['Weekly Time Series']['2022-01-14'] # GREAT.  This is the data we want to extract and we have now found out how to locate it.

{'1. open': '134.4700',
 '2. high': '136.2000',
 '3. low': '127.9700',
 '4. close': '134.2100',
 '5. volume': '32044685'}

In [8]:
# Now we can use the Pandas method from_dict() to translate our dictionary into a DataFrame
# 1. just pass the method the level where the data is
pd.DataFrame.from_dict(data['Weekly Time Series'])

          2022-02-18 2022-02-11 2022-02-04  ... 1999-11-26 1999-11-19 1999-11-12
1. open     132.5900   137.4500   134.0900  ...   105.5000    96.0000    90.5000
2. high     132.6500   138.3500   138.8200  ...   109.8700   105.1200    97.5000
3. low      123.6100   132.3800   132.3000  ...   101.8100    92.6200    90.5000
4. close    124.3500   132.6900   137.1500  ...   105.0000   103.9400    95.8700
5. volume   26022824   23489144   27665550  ...   37165600   61550800   43569700

[5 rows x 1163 columns]

#### Challenge:
OOPS.  
We want our time series variables 'open', 'high', 'low',...etc to be in the columns NOT the rows.  

The Pandas from_dict method has a parameter to accomplish this --> orient='index'.

**How do I use the orient='index' parameter?**  Simple: read the [Documentation for the method here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html).  Take a look at the Documentation and see if you can figure out how to write the correct code before looking at my solution below.

**How did I find the Documentation?** Simple: Google search, 'convert dictionary to dataframe' and look for the official pandas documentation there.  

**Take Away:** Get used to using Google to find the Documentation that you need and get familiar reading Documentation.

In [9]:
# your code here

#### Challenge 2
1.  The column names are cluttered with numbers and empty spaces.  Find and apply the correct method to the code to rename the column names '1. open' --> 'open' ; '2. high' --> 'high', etc.   

read the following documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

In [10]:
# your code here

#### Challenge 3
The index is the date.  For our application, we want the date to be its own variable.  Use Google and apply a Pandas method that changes the index into a new column.  AND rename this new column 'date'

In [11]:
# your code here

#### Challenge 4
Create a new column with the ticker symbol for this stock.  It should be a column where all rows are the string = 'IBM' , in this case

In [12]:
# your code here

### Earnings Data
Use the API to get Earning Data for IBM

**Always Begin by Looking at API Documentation**
https://www.alphavantage.co/documentation/

In [68]:
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=IBM&apikey=demo'
r = requests.get(url)
earnings = pd.DataFrame.from_dict(r.json()['quarterlyEarnings'])
earnings.head()

  fiscalDateEnding reportedDate  ... surprise surprisePercentage
0       2021-12-31   2022-01-24  ...     0.05             1.5152
1       2021-09-30   2021-10-20  ...   0.0053             0.2108
2       2021-06-30   2021-07-19  ...   0.0416             1.8179
3       2021-03-31   2021-04-19  ...   0.1176             7.1169
4       2020-12-31   2021-01-21  ...   0.1947            10.3823

[5 rows x 6 columns]

### Montly Stock Data
Big Picture: This project will eventually lead to the calculation of a key stock indicator called a price-to-earnings ratio or PE ratio.  To do this we will need to get dividend data which is in the Monthly stock series.  

Go ahead and make an API call for the Montly Adjusted Stock Price data

### Get tickers
First we need to get available stock tickers.  With these in hand, we can loop over all tickers and compile a more complete dataset for all stocks.

I uploaded tickers in a CSV (Comma Separated Values) format on Github.  https://raw.githubusercontent.com/mknomics/teaching/main/nyse-listed_csv.txt

Take a look at the data structure.  All columns are separated by a comma.  The comma is known as the delimiter.  A data file can have any type of delimiter, besides a comma.  Common other delimiters are tabs (white space).

Pandas has a method to read csv files


```
pd.read_csv()
```
We can simply pass it the URL of the CSV file in this case.  We can also pass it a CSV file that is on our local computer or in the cloud.  You may need to read a further tutorial on importing a csv file into Colab if you want to import data from the cloud or on your local machine.

In [ ]:
ticker_url='https://raw.githubusercontent.com/mknomics/teaching/main/nyse-listed_csv.txt' # I define a string variable using apostrophe ' but I could ahve also used quotes " ".  I just cannot mix apostophe and quotes in the same line
tickers = pd.read_csv(ticker_url) # cast into a pandas DataFrame
tickers.rename(columns={'ACT Symbol':'ticker'},inplace=True) # rename the column to make it easier to work with
tickers.head() # optional: look at it if you want

#### Cleaning
notice that some of the tickers have a $ sign and it turns out that this poses a problem for our API.  A simple solution is to drop those with dollar signs.  

We can use the pandas loc[] method along with str.contains() method to find strings that meet a certain criteria.  In this case I also use the ~ tilda to negate the conditional statement inside the loc method.  

The syntax is:


```
df.loc[df['column name'] logical condition]
```

df['column name'] with a logical argument returns a column of boolian values and the loc method returns the rows in which those values are "True"

In [ ]:
tickers = tickers.loc[~tickers['ticker'].str.contains('$',regex=False)] #play with this method

#### Challenge
Use the loc method and return tickers that contain an "A"

### Challenge
Returning back to the Stock Data:  Write a function whose inputs are a ticker.  The function should make the appropriate API call, clean/format the data and return a properly formatted pandas dataframe.  


```
def your_function_name(ticker=True):
  write your function here
  return DataFrame
```

In [49]:
# your function here

'AA'

### Collect data
**Note** Your API has a rate limit of 500 records per day.  How many tickers do we have?  Write a code to findout.  In summary, we have thousands.  Thus I want us to restrict ourselves to looping over the first 100 ticker values.  


Loop over your function with a for loop, iterating over the ticker values.  Append the dataframes together using the concat() method.  

You will run into errors with this loop.  I am going to give you some bad advice here and tell you to ignore these errors.  But how to make python ignore the errors?  

Bad Advice:



```
try:
   code block to try
except: # the next block says how to handle exceptions
   pass  # this tells python to ignore them.  Bad form, but we do it here.
```

Without error codes, you will not be able to see where your function broke or how/why it broke without more digging than usual.

In [60]:
from tqdm import tqdm # status bar (optional)

# Write your loop over a function - The stuff below is for general reference.
key = #your api key

stocks=pd.DataFrame() #storage bin to keep data

for i in tqdm(range(50)):
  try:
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol='+tickers['ticker'][i]+'&apikey='+key
    r = requests.get(url).json()
    temp=pd.DataFrame.from_dict(r['Monthly Adjusted Time Series']).transpose()
    temp['ticker']=tickers['ticker'][i]
    temp=pd.concat([stocks,temp])
  except:
    pass

100%|██████████| 50/50 [00:11<00:00,  4.42it/s]

### Save the file
Either to Google Drive or to your local machine for later retrieval.  Look up how to do this.  It is good practice in self learning.

In [61]:
stocks

             1. open   2. high    3. low  ... 6. volume 7. dividend amount ticker
2022-02-18  140.5300  145.1000  129.7100  ...  25648434             0.0000      A
2022-01-31  159.0000  159.4400  131.2150  ...  39870604             0.2100      A
2021-12-31  151.1200  162.6200  147.7200  ...  33692805             0.0000      A
2021-11-30  157.3800  165.6800  149.7000  ...  34250114             0.0000      A
2021-10-29  157.1500  159.9200  146.3000  ...  28862915             0.1940      A
...              ...       ...       ...  ...       ...                ...    ...
2022-02-18   21.8300   23.0900   20.8600  ...   2248045             0.0000    ACT
2022-01-31   20.7300   22.6900   20.4000  ...   2847957             0.0000    ACT
2021-12-31   21.0200   21.9000   18.7600  ...   5412408             0.0000    ACT
2021-11-30   22.8100   24.0000   20.6900  ...   3774095             1.2300    ACT
2021-10-29   22.0500   23.3300   20.1500  ...   3971222             0.0000    ACT

[4706 rows x 8 columns]